* {
    word-break: break-word;
}

body {
    margin: 0px;
    font-family: tahoma, verdana, arial, sans-serif;
    font-size: 14px;
}

.header {
    font-size: 16px;
    border-radius: 0px 0px 8px 8px;
    border-color: rgba(172,142,208);
    border-width: 0px 2px 2px 2px;
    border-style: ridge;
    background: rgb(74,20,140);
    background: linear-gradient(180deg, rgba(74,20,140) 0%, rgba(128,82,184) 100%);
    color: white;
    padding: 8px;
    max-width: 680px;
    margin: auto;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 800;
    box-shadow: 0px 3px 5px -4px black;
}

.page{
    max-width: 640px; 
    border-style: ridge;
    border-color: rgb(223, 227, 240);
    border-width: 0px 2px 2px 2px;
    padding: 8px;
    margin: auto;
    box-shadow: 0px 0px 8px -5px black;
}

.side{
    display: block;
    float: left;
    padding: 8px;
    min-width: 132px;
    max-width: 132px;
}

.side a {
    color: rgba(74,20,140);
    text-decoration: none;
    padding: 2px;
}

.side a:hover {
    background-color: rgb(224, 218, 232);
}

.header_link {
    float: right;
    color: #e3dae8;
    font-size: 12px;
    text-decoration: none;
    border-color: rgba(172,142,208);
    border-width: 0px 0px 0px 2px;
    border-style: ridge;
    padding: 4px;
    font-weight: 600;
}

.header_link:hover {
    color: #ffffff;
    text-decoration:underline;
}

#openmenu{
    display: none;
    float: right;
}

button {
    background: rgb(74,20,140);
    color: white;
    border-radius: 2px;
    border: none;
    padding: 4px 8px 4px;
}

button:hover{
    color: #e3dae8;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

.divplayer {
    margin: auto;
    max-width: 640px;
    border-style: ridge;
    border-color: rgb(223, 227, 240);
    border-width: 0px 2px;
    padding: 8px;
}

.block_name{
    color: rgb(74,20,140);
    padding: 8px;
    background: rgba(237,232,242);
    margin-bottom: 0px;
    border-top: 2px solid rgb(74,20,140);
}

.post_block{
    padding: 8px;
    border-top: 2px solid rgb(204,204,204);
    background: rgb(240,240,240);
    margin-top: 0px;
    margin-bottom: 8px;
}

.post_block a {
    text-decoration: none;
    color: rgb(74,20,140);
}

.post_block1{
    padding: 4px;
    border-top: 1px solid rgb(74,20,140);
    background: rgb(240,240,240);
    margin-left: 60px;
}

.post_block1 a {
    text-decoration: none;
    color: rgb(74,20,140);
}

textarea{
    min-width: 620px; 
    max-width: 620px; 
}

@media screen and (max-width: 948px){
    textarea{
        min-width: 0px; 
    }

    .header {
        border-radius: 0px;
        border-width: 0px 0px 2px 0px;
        max-width: 950px;
    }

    .divplayer {
        max-width: 100%;
        border-width: 0px;
    }

    .page{
        border-width: 0px;
    }

    .side{
        display: none;
        float: none;
        border-width: 0px;
        min-width: 0px;
        max-width: 950px;
    }

    #openmenu{
        display: block;
    }
}