@font-face {
    font-family: dos2000;
    src: url('dos2000.ttf');
}

* {
    font-family: dos2000;
    text-shadow: none;
    word-break: break-word;
}

body{
    background-color: #0402AC;
    color: #54FEFC;
}

hr{
    border: 1px solid #54FEFC;
}

a{
    color: #54FEFC;
}

a:hover{
    background-color: #54FEFC;
    color: #0402AC;
}

.block{
    padding: 8px;
    margin: 16px auto;
    border: 6px double #54FEFC;
    max-width: 540px;
}

.block1{
    display: inline-block;
    padding: 8px;
    margin: 16px;
    border: 6px double #54FEFC;
}

.submit {
    background-color: #A8A8A8;
    color: #000000;
    border: 6px double #000000;
}

.submit tr td{
    padding: 8px;
}

.submit input{
    background-color: #00A8A8;
    border: none;
    padding: 4px;
}
.submit .file::file-selector-button{
    display: none;
}

.submit textarea{
    background-color: #00A8A8;
    border: none;
    padding: 4px;
}

.submit button{
    background-color: #A8A8A8;
    border: none;
}

.submit button:hover{
    color: #FEFE54;
}

.post{
    padding: 8px;
    margin: 16px;
    border: 6px double #54FEFC;
}

.files {
    width: 100%;
    border-collapse: collapse;
    border: 6px double #54FEFC;
}

.files thead {
    color: #ffff57;
}

.files td {
    border: solid #54FEFC;
    border-width: 0px 3px;
    padding: 4px 2px;
    text-align: left;
}

.files tbody tr:hover{
    background-color: #54FEFC !important;
    color: #0402AC !important;
}

.files tbody td:hover{
    border-color: #0402AC;
}

.table-wrapper {
    display: inline-block;
    padding: 4px;
    background-color: #A8A8A8;
}