@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    font-family: "Roboto", sans-serif;
    word-break: break-word;
    color: white;
}

body{
    background-color: #303030;
}

.right {
    color: white;
}

center {
    background-color: #4A148C;
    width: 100%;
    margin: -8px;
    margin-top: -32px;
    margin-bottom: 16px;
    padding: 8px;
    padding-top: 16px;
    box-shadow: 0px 5px 8px rgba(0,0,0,0.5);
    color: black;
}

center a {
	color: white;
}

.block{
    background: #424242;
    padding: 16px;
    margin: 16px auto;
    max-width: 540px;
    box-shadow: 0px 2px 5px rgba(0,0,0,0.75);
    border-radius: 4px;
}

.block1{
    display: inline-block;
    padding: 8px;
    margin: 16px;
}

.submit {
    background-color: #424242;
	border-radius: 0px 0px 4px 4px;
	box-shadow: 0px 5px 10px rgba(0,0,0,0.5);
    padding: 8px;
}

.submit tr td{
    padding: 8px;
}

.submit input{
    background: #212121;
	border: none;
	padding: 8px;
	padding-left: 16px;
	padding-right: 16px;
	border-radius: 4px;
	margin-bottom: 16px;
	box-shadow: 0px 2px 5px rgba(0,0,0,0.5);
}
.submit .file::file-selector-button{
    display: none;
}

.submit textarea{
	background: #212121;
	border: none;
	padding: 8px;
	border-radius: 4px;
	margin-bottom: 16px;
	box-shadow: 0px 2px 5px rgba(0,0,0,0.5);
}

.submit button{
    background: #212121;
	border: none;
    padding: 8px;
	border-radius: 0px 0px 4px 4px;
	box-shadow: 0px 5px 10px rgba(0,0,0,0.25);
}

.submit button:hover{
	box-shadow: 0px 5px 10px rgba(0,0,0,0.5);
}

.submit button:active{
	box-shadow: 0px 5px 10px rgba(0,0,0,0.15);
}

.post{
    background-color: #424242;
    padding: 16px;
    margin: 16px;
    box-shadow: 0px 0px 25px -10px black;
    border-radius: 2px;
}

.files {
    background: #424242;
    width: 100%;
    padding: 8px;
    box-shadow: 0px 2px 5px rgba(0,0,0,0.75);
    border-radius: 4px;
}
.files td {
    padding: 4px;
    text-align: left;
}

.files tbody tr:hover{
    background-color: #212121;
    box-shadow: 0px 2px 5px rgba(0,0,0,0.5);
    border-radius: 4px;
}

.files tbody tr:active{
    background-color: #212121;
    box-shadow: 0px 2px 5px rgba(0,0,0,0.25);
    border-radius: 4px;
}

.table-wrapper {
    display: inline-block;
}